@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root {
    --hue-color: 204;

    --first-color: hsl(var(--hue-color), 88%, 53%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 90%);
    --container-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 3rem 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    background-color: var(--container-color);
    color: var(--text-color);
}