@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root {
    --hue-color: 204;

    --primary-color: hsl(var(--hue-color), 88%, 53%);
    --secondary-color: hsl(var(--hue-color), 66%, 61%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
}