@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root {
    --main-color: 204;

    --first-color: hsl(var(--main-color), 69%, 61%);
    --second-color: hsl(var(--main-color), 69%, 61%);
    --first-color-alt: hsl(var(--main-color), 57%, 53%);
    --first-color-light: hsl(var(--main-color), 92%, 85%);
    --title-color: hsl(var(--main-color), 8%, 15%);
    --text-color: hsl(var(--main-color), 8%, 45%);
    --text-color-light: hsl(var(--main-color), 8%, 65%);
    --input-color: hsl(var(--main-color), 70%, 96%);
    --body-color: hsl(var(--main-color), 60%, 99%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 3rem 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    background-color: #fff;
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Common classes */

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: 1.5rem;
}

.section__subtitle {
    display: block;
    font-size: 0.813rem;
    margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

/* Layout */

.container {
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}
